@page "/"

<PageTitle>Animal Matching Game</PageTitle>

<style>

    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var animal in animalEmoji)
        {
            <div class="col-3">
                <button type="button"
                        class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

@code {
    List<string> animalEmoji = new()
  {
    "🐶","🐶",
    "🐺","🐺",
    "🐮","🐮",
    "🦊","🦊",
    "🐱","🐱",
    "🦁","🦁",
    "🐯","🐯",
    "🐹","🐹",
  };
}